body {
    background-color: #4360A2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    color: #080808;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: black;
}

main, footer {
    max-width: 800px;
    margin-left: 20%;
    margin-right: 10%;
}

header {
    background-color:#ABD1F3;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}

header h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

section h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

section.card {
    margin: 20px;
    border-radius: 10px;
    background: #4360A2;
    box-sizing: border-box;
}

section.card p {
    padding: 0 20px 20px 20px;
    font-size: 28px;
    color: #fff;
}

section.card h2 {
    padding: 0 20px 20px 20px;
}

section.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

main {
    padding-top: 120px;
    display: grid;
    grid: 150px;
    gap: 20px;
    grid-template-columns: repeat(250px, 1fr);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

footer p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
